.App {
  width: 90%;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.App > h3 {
  color: #333;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.App > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App > ul > li {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  margin: 0 0 1rem 0;
  padding: 1rem;
}

.App > ul > li > h4 {
  color: #333;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
